.searchForm {
  $gap: 1em;
  padding: $gap;
  display: flex;

  .input {
    width: 70%;
    margin-right: $gap;
    vertical-align: middle;

    &__input {
      width: calc(100% - 2 * $gap);
    }
  }

  .button {
    width: 30%;
    vertical-align: middle;
  }
}
