@import '../../variables';
@import '../../mixins';

.genreSelect {
  list-style: none;
  padding: 0;
  li {
    @include clickable;
    display: inline;
    padding: 1em 0;
    margin: 0 1em;

    &.active {
      border-bottom: $color-primary 3px solid;
    }
  }
}
