$color-palette-red: #f65261;
$color-palette-black: #232323;
$color-palette-dark-gray: #424242;
$color-palette-light-gray: #555555;
$color-palette-white: #ffffff;

$color-dark-background: $color-palette-black;
$color-light-background: $color-palette-light-gray;
$color-main-text: $color-palette-white;
$color-label-text: $color-palette-red;
$color-primary: $color-palette-red;
$color-transparent-white: #ffffff20;

$color-input-background: #2e2e2e;
$color-input-placeholder: #6e6e6e;
$color-input-text: $color-main-text;

$font-stack: 'Argentum Sans', sans-serif;
